In [3]:
import numpy as np
import pandas as pd
import operator

In [30]:
def createDataSet():
    group = array([[1.0,1.1],[1.0,1.0],[0,0],[0,0.1]])
    labels = ['A','A','B','B']
    return group, labels

In [41]:
def classify0(inX, dataSet, labels, k):

#calculate the distance
    dataSetSize = dataSet.shape[0]
    diffMat = tile(inX, (dataSetSize,1)) - dataSet 
    sqDiffMat = diffMat**2
    sqDistances = sqDiffMat.sum(axis=1)
    distances = sqDistances**0.5
    sortedDistIndicies = distances.argsort()

#see what is the most voted category

#Creating a dictionary
    classCount={}

    for i in range(k):
        voteIlabel = labels[sortedDistIndicies[i]]
    
    #dictionary.get('key') = values belong to the key , if no value return 0
        classCount[voteIlabel] = classCount.get(voteIlabel,0) + 1
    
    sortedClassCount = sorted(classCount.items(),key=operator.itemgetter(1), reverse=True)
    return sortedClassCount[0][0]

### The following calculates the distance between data points step by step

In [4]:
data = pd.DataFrame(np.random.randint(low=0, high=10, size=(3, 4)))

In [15]:
data

   0  1  2  3
0  7  7  8  3
1  4  5  8  2
2  1  4  9  0

In [6]:
data.shape[0]

3

In [7]:
unknown = np.random.randint(low=0, high=10, size=(1, 4))

In [11]:
unknown

array([[4, 7, 7, 4]])

In [13]:
#creating a same shape as original dataset
dis1 = tile(unknown, (data.shape[0],1))

In [14]:
dis1

array([[4, 7, 7, 4],
       [4, 7, 7, 4],
       [4, 7, 7, 4]])

In [16]:
#after we have the same dimension matix, we substract dataset with the unknowm
dis2 = dis1-data

In [17]:
dis2

   0  1  2  3
0 -3  0 -1  1
1  0  2 -1  2
2  3  3 -2  4

In [18]:
dis3 = dis2**2

In [19]:
dis3

   0  1  2   3
0  9  0  1   1
1  0  4  1   4
2  9  9  4  16

In [20]:
dis4 = dis3.sum(axis=1)
dis4

0    11
1     9
2    38
dtype: int64

In [21]:
dis5 = np.sqrt(dis4) #or **0.5
dis5

0    3.316625
1    3.000000
2    6.164414
dtype: float64

In [22]:
#finding the shortest distance, the smallest number
dis5.argsort()

0    1
1    0
2    2
dtype: int64

##TEST TEST

In [33]:
test1 = createDataSet()

In [43]:
test1[1]

['A', 'A', 'B', 'B']

In [45]:
classify0([1,5], test1[0], test1[1], 3)

'A'